body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#map {
    height: 600px; /* Map ka height */
    width: 100%; /* Map ka width */
}
